# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Output folders
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Render deploy log (optional)
render.yaml
